.state {
  border: 1px solid #000;
  border-radius: 4px;
  overflow: scroll;
  width: fit-content;
}

.event {
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding: 16px;
  list-style-type: none;
}

.event:last-of-type {
  border-bottom: 0;
}

.event:only-of-type {
  border-bottom: 1px solid #ccc;
}

.event-handler {
  border-radius: 4px;
  border: 1px solid #333;
  font-size: 14px;
  margin-top: 16px;
}

.event-handler-item {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 88px 1fr;
}

.event-handler-item:last-of-type {
  border-bottom: 0;
}

.event-handler-key {
  white-space: nowrap;
  padding: 4px 8px;
}

.event-handler-value {
  grid-column: 2;
  padding: 4px 8px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.event-handler-value:last-of-type {
  border-bottom: 0;
}

.list-header {
  font-size: 12px;
  padding: 8px 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  border-bottom: 1px solid #ccc;
}

.list {
  width: "auto";
  min-height: 8px;
  border-bottom: 1px solid #ccc;
}

.list:last-of-type {
  border-bottom: 0;
}

.list > div {
  margin-bottom: 16px;
}

.list > div:last-of-type {
  margin-bottom: 0;
}

.header {
  padding: 8px 16px;
  grid-column: span 2;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.05);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content;
}

.events {
  grid-column: 1;
  min-width: 80px;
  border-right: 1px solid #ccc;
}

.states {
  grid-column: 2;
  border-radius: 4px;
  min-width: 80px;
}

.padded {
  padding: 16px;
}

.body {
  display: flex;
}

.state-name {
  font-size: 14px;
  font-weight: bold;
}

.state-type {
  font-size: 12px;
  padding: 2px 12px;
  border: 1px solid #aaa;
  background-color: #fafafa;
  border-radius: 24px;
  margin-left: 16px;
}

.state .highlight {
  border: 1px solid #000;
}
