.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 400px;
  grid-template-rows: min-content auto 1fr 200px;
  border: 1px solid #000;
}

.status-bar {
  grid-column: span 2;
  background-color: #fff;
  border-bottom: 1px solid #000;
  font-size: 14px;
  padding: 8px 16px;
  background-color: #fafafa;
}

.sidebar {
  grid-row: 2;
  grid-row: span 3;
  grid-column: 2;
  overflow: scroll;
  height: 100%;
  border-left: 1px solid #000;
  z-index: 999;
  background-color: #fff;
  background-color: #fafafa;
}

.content {
  grid-row: 3;
  grid-column: 1;
  overflow: scroll;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.component-preview {
  grid-row: 2;
  grid-column: 1;
  padding: 2em;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph {
  position: relative;
}

.data {
  border-top: 1px solid #ccc;
  grid-column: 1;
  grid-row: 4;
  display: flex;
  overflow: scroll;
  z-index: 999;
}

/* ----- */

.state {
  border: 1px solid #000;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.event {
  /* position: relative; */
  font-size: 14px;
  margin: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f3f3f3;
}

.event-name {
  font-size: 13px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

.event-handler {
  /* position: relative; */
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  font-size: 12px;
  margin-top: 8px;
  background-color: #fff;
}

.event-handler:last-of-type {
  /* position: relative; */
  border-bottom: 0;
}

.event-handler-item {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 88px 1fr;
}

.event-handler-item:last-of-type {
  border-bottom: 0;
}

.event-handler-key {
  white-space: nowrap;
  padding: 6px 8px;
}

.event-handler-value {
  grid-column: 2;
  padding: 6px 8px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.context {
  cursor: context-menu;
}

.context:hover {
  text-decoration: underline;
}

.event-handler-value:last-of-type {
  border-bottom: 0;
}

.list-header {
  background-color: #fff;
  font-size: 12px;
  padding: 8px 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  border-bottom: 1px solid #ccc;
}

.scroll {
  overflow: scroll;
}

.hug {
  width: fit-content;
}

.container {
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.list {
  min-height: 8px;
  border-bottom: 1px solid #ccc;
}

.list-horizontal {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 32px;
  min-height: 8px;
}

.list:last-of-type {
  border-bottom: 0;
}

.list > div {
  margin-bottom: 16px;
}

.list > div:last-of-type {
  margin-bottom: 0;
}

.header {
  padding: 8px 16px;
  grid-column: span 2;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.05);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content;
}

.collections {
  width: 400px;
  height: min-content;
}

.events {
  padding-bottom: 16px;
  grid-column: 1;
  min-width: 80px;
  border-right: 1px solid #ccc;
}
.events:only-child {
  border-right: 0;
}

.states {
  grid-column: 2;
  border-radius: 4px;
  min-width: 80px;
}

.padded {
  padding: 16px;
}

.overflow-hidden {
  overflow: hidden;
}

.body {
  display: flex;
}

.state-name {
  font-size: 14px;
  font-weight: bold;
}

.chip {
  font-size: 12px;
  padding: 2px 12px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  border-radius: 24px;
  margin-left: 16px;
}

.highlight {
  background-color: rgba(0, 145, 255, 0.181);
}
