/* @import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Serif:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff !important;
}

.ReactModalPortal {
  position: relative;
  z-index: 9998;
}

.modal {
  outline: none;
  pointer-events: none;
}

.ReactModal__Body {
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ReactModal__Body--before-open {
  opacity: 0;
}

.ReactModal__Body--after-open {
  overflow-y: hidden;
}

.live-view {
  font-family: "Fira Sans", sans-serif;
}

.live-view button {
  font-size: 16px;
  border-radius: 4px;
  padding: 12px 24px;
  background: unset;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  font-family: "Fira Sans", sans-serif;
  background-color: #ffffff;
  border: 1px solid #ccc;
  outline: none;
}

.live-view button:hover {
  background-color: #ffffff;
  border: 1px solid #aaa;
}

.live-view button:focus {
  background-color: #ffffff;
  border: 1px solid #aaa;
}

.live-view button:active {
  background-color: #fefefe;
  border: 1px solid #999;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
