.outlined-text {
  font-family: monospace;
  color: var(--light);
  text-shadow: 1px 1px 0px var(--dark), 1px -1px 0px var(--dark),
    -1px -1px 0px var(--dark), -1px 1px 0px var(--dark);
}

:root {
  --gb-body: #c5c0be;
  --gb-grey: #8f8e93;
  --gb-lgrey: #bab6ad;
  --gb-dark: #404040;
  --gb-mdark: #6c7353;
  --gb-mlight: #8b956d;
  --gb-light: #c5d0a1;
  --zh-woody-brown: #472d3c;
  --zh-congo-brown: #5e3643;
  --zh-spicy-mix: #7a444a;
  --zh-matris: #a05b53;
  --zh-antique-brass: #bf7958;
  --zh-porsche: #eea160;
  --zh-maize: #f4cca1;
  --zh-conifer: #b6d53c;
  --zh-sushi: #71aa34;
  --zh-goblin: #397b44;
  --zh-mineral-green: #3c5956;
  --zh-thunder: #302c2e;
  --zh-don-juan: #5a5353;
  --zh-spicy-pink: #7d7071;
  --zh-zorba: #a0938e;
  --zh-sisal: #cfc6b8;
  --zh-iceberg: #dff6f5;
  --zh-spray: #8aebf1;
  --zh-scooter: #28ccdf;
  --zh-astral-: #3978a8;
  --zh-east-bay: #394778;
  --zh-twilight: #39314b;
  --zh-mulled-wine: #564064;
  --zh-cannon-pink: #8e478c;
  --zh-hopbush: #cd6093;
  --zh-sundown: #ffaeb6;
  --zh-buttercup: #f4b41b;
  --zh-ecstasy: #f47e1b;
  --zh-cinnabar: #e6482e;
  --zh-medium-carmine: #a93b3b;
  --zh-rum: #827094;
  --zh-comet: #4f546b;
}
