@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap");

body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background-color: #fcfcfc;
  color: #333;
  font-size: 1em;
}

input {
  outline: 0;
  font-size: 1em;
  padding: 0.5em 0.8em;
  background: none;
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
  background-color: #efefef;
}

button {
  outline: 0;
  font-size: 1em;
  padding: 0.5em 0.8em;
  background: none;
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
}

button:disabled {
  opacity: 0.5;
  background-color: #eee;
}

.app {
  padding: 1em;
  padding-top: 4em;
}

.inline {
  display: inline-block;
}

.segmented-button-group {
  display: grid;
  width: fit-content;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-gap: 0px;
  text-align: center;
  align-items: center;
  padding: 0.2em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.segmented-button-group button:first-of-type {
  border-radius: 4px 0 0 4px;
}
.segmented-button-group button:last-of-type {
  border-radius: 0 4px 4px 0;
}

.button-group {
  display: grid;
  width: fit-content;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-gap: 8px;
  text-align: center;
  align-items: center;
  padding: 0.2em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-group input {
  width: 2em;
  border-radius: 0 4px 4px 0;
}

.input-group button {
  border-radius: 4px 0 0 4px;
  border-right: none;
}
