@font-face {
  font-family: "Gameboy";
  src: url(./fonts/gameboy.ttf);
}

:root {
  --tetris-dark: #404040;
  --tetris-mdark: #6c7353;
  --tetris-mlight: #8b956d;
  --tetris-light: #c5d0a1;
}

button {
  font-family: "Gameboy";
  color: #404040;
  border: none;
}

* {
  box-sizing: border-box;
}
